.login_form {
    height: 100vh;
    align-items: center;
    display: flex;
}

.objects_page {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    min-width: 100%;
}

.objects__list {
    width: 80%;
}

.objects__filters {
    min-width: 240px;
}


.object_create_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}
.object_create_form_section {
    display: flex;
    gap: 40px;
}

.object_create_form_box {
    min-width: 60%;
}

.object_create_form_box table td {
    padding: 10px;
}
.object_create_form_box table th {
    padding: 10px;
}

.object_create_form_helpers {
    min-width: 40%;
}

.object_create_form_box > div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.object_create_form_box > div label {
    min-width: 240px;
    width: 240px;
}

.object_create_form_box > div fieldset {
    display: flex;
    gap: 20px;
    width: 100%;
}
.object_create_form_box > div fieldset legend {
    width: 100%;
    margin-bottom: 10px;
}
.object_create_form_box > div fieldset select {
    min-width: 30%;
}

.object_create_form_box > div input {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #aaa;
    width: 100%;
}
.object_create_form_box > div textarea {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #aaa;
    width: 100%;
    resize: none;
}
.object_create_form_box > div select {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #aaa;
    width: 100%;
}

.helper {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #aaa;
    width: 600px;
}

.object_address_helper_results {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;
} 

.helper_result {
    border-radius: 4px;
    padding: 4px 20px;
    cursor: pointer;
}
.helper_result:hover {
    background: #ddd;
}

.device_add {
    max-width: 40% !important;
    min-width: 40% !important;
}

.device_section {
    column-gap: 80px;
    flex-wrap: wrap;
}

.client_add {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.client_add > div {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}
.client_add input[type="checkbox"] {
    width: 20px;
    height: 20px;
    min-width: auto !important;
}
.client_add > div input {
    min-width: 200px;
}


.client_section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.object_devices__list {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.object_devices__item {

}

.to_edit_mark {
    font-size: 20px !important;
    font-weight: bold;
}
