{% extends 'components/layout.html' %}

{% block main %}
    <div class="columns">
        <div class="column">
            <div class="box">
                <h2 class="title is-3">Объект № 34 <span class="tag is-success is-medium">Хороший клиент</span></h2>
                <p class="title is-5">Тип объекта</p>
                <h2 class="subtitle is-6 is-spaced">Квартира</h2>
                <p class="title is-5">Адрес</p>
                <h2 class="subtitle is-6 is-spaced">улица Титова, Лиски, Воронежская область, д. 26</h2>
                <p class="title is-5 ">Примечание</p>
                <h2 class="subtitle is-6 is-spaced">Отсутствует</h2>
            </div>
            <div class="box">
                <h2 class="title">Контактные лица</h2>
                <p>Собственник</p>
                <p class="title is-5 ">Афанасьев Николай Дмитриевич <span class="tag is-info ">М</span></p>
                <h2 class="subtitle is-3">89531199120</h2>
                <button class="button">Добавить</button>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title">Паспортные данные</h2>
                
                <p class="title is-5 ">Серия и номер</p>
                <h2 class="subtitle is-6 is-spaced">Отсутствует</h2>
                <p class="title is-5 ">Выдан</p>
                <h2 class="subtitle is-6 is-spaced">Отсутствует</h2>
                <p class="title is-5 ">Дата выдачи</p>
                <h2 class="subtitle is-6 is-spaced">Отсутствует</h2>
                <p class="title is-5 ">Место рождения</p>
                <h2 class="subtitle is-6 is-spaced">Отсутствует</h2>
                <p class="title is-5 ">Дата рождения</p>
                <h2 class="subtitle is-6 is-spaced">Отсутствует</h2>
                <p class="title is-5 ">Адрес регистрации</p>
                <h2 class="subtitle is-6 is-spaced">Отсутствует</h2>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title">Договор ТО</h2>
                <p>Отсутствует</p>
                <button class="button mt-4">Добавить</button>
            </div>
            <div class="box">
                <h2 class="title">Акты выполненных работ</h2>
                <p>Отсутствует</p>
                <button class="button mt-4" disabled>Добавить</button>
            </div>
            <div class="box">
                <h2 class="title">Заявки</h2>
                <p>Отсутствует</p>
                <button class="button mt-4" disabled>Добавить</button>
            </div>
        </div>
    </div>
{% endblock main %}