{% extends 'components/layout.html' %}

{% block main %}
<a href="/objects" class="button mb-4">Назад</a>
    <div class="columns">
        <div class="column">
            <div class="box">
                <h2 class="title is-3">Объект № {{object.id}} <span class="tag is-success is-medium">Хороший клиент</span></h2>
                <p class="title is-5">Тип объекта</p>
                <h2 class="subtitle is-6 is-spaced">{{object.type_of_building}}</h2>
                <p class="title is-5">Адрес</p>
                <h2 class="subtitle is-6 is-spaced">{{object.get_full_address}}</h2>
                <p class="title is-5 ">Примечание</p>
                <h2 class="subtitle is-6 is-spaced">
                    {% if object.comment%}
                    {{object.comment}}
                    {% else %}
                    Примечаний нет
                    {% endif %}
                </h2>
            </div>
            <div class="box">
                <h2 class="title">Контактные лица</h2>
                {% for client in object.client_set.all %}
                    <p>{{client.role}}</p>
                    <p class="title is-5 ">{{client.lastname}} {{client.firstname}} {{client.middlename}} 
                        {% if client.sex == 'man' %}
                            <span class="tag is-info ">М</span>
                        {% else %}
                            <span class="tag is-danger ">Ж</span>
                        {% endif %}
                    </p>
                    <h2 class="subtitle is-3">{{client.phone_number_1}}</h2>
                    <h2 class="subtitle is-3">{{client.phone_number_2}}</h2>
                    <h2 class="subtitle is-3">{{client.phone_number_3}}</h2>
                {% endfor %}
                {% comment %} <button class="button">Добавить</button> {% endcomment %}
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title">Паспортные данные</h2>
                
                <p class="title is-5 ">Серия и номер</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.serial}} {{object.passport.number}}</h2>
                <p class="title is-5 ">Выдан</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.getted_by}}</h2>
                <p class="title is-5 ">Дата выдачи</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.getted_date}}</h2>
                <p class="title is-5 ">Код подразделения</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.division}}</h2>
                <p class="title is-5 ">Место рождения</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.birthday_place}}</h2>
                <p class="title is-5 ">Дата рождения</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.birthday_date}}</h2>
                <p class="title is-5 ">Адрес регистрации</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.registration_adress}}</h2>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title">Договор ТО</h2>
                
                {% if object.contract_set.count > 0 %}
                    {% for contract in object.contract_set.all %}
                        <p class="title is-5 ">Договор № {{contract.contract_number}} от {{contract.date_of_contract}} {% if contract.status == 'active' %}✅{% else %}❌{% endif %}</p>
                        <p class="subtitle is-5 mb-2">Сумма {{contract.summ}}</p>
                        <!-- {% if contract.status != 'active' %}
                            <a href="/objects/{{object.id}}/contract/create" class="button mt-2">Добавить</a>
                        {% endif %} -->

                    {% endfor %}
                {% else %}
                <p>Отсутствует</p>
                {% endif %}
                <a href="/objects/{{object.id}}/contract/create" class="button mt-2">Добавить</a>

            </div>
            <div class="box">
                <h2 class="title">Акты выполненных работ</h2>
                {% if object.act_set.count > 0 %}
                    {% for act in object.act_set.all %}
                        <p class="title is-5 ">Акт № {{act.act_number}} от {{act.date_of_act}}</p>
                        <p class="subtitle is-5 mb-2">Сумма {{act.total}}</p>
                        <!-- {% if contract.status != 'active' %}
                            <a href="/objects/{{object.id}}/contract/create" class="button mt-2">Добавить</a>
                        {% endif %} -->

                    {% endfor %}
                {% else %}
                <p>Отсутствует</p>
                {% endif %}
                <a href="/objects/{{object.id}}/act/create_from_contract" class="button mt-4">Добавить</a>
            </div>
            {% comment %} <div class="box">
                <h2 class="title">Заявки</h2>
                <p>Отсутствует</p>
                <button class="button mt-4" disabled>Добавить</button>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="box">
                <h2 class="title">Оборудование</h2>
                <div class="object_devices__list">
                    {% for device in object.objectdevice_set.all %}
                    <div class="object_devices__item">
                        <p class="title is-5 is-spaced">{{device.type}}</p>
                        <h2 class="subtitle is-6">{{ device.kind }}</h2>
                        <h2 class="subtitle is-6">{{ device.manufacter }}</h2>
                        <h2 class="subtitle is-6">{{ device.model }}</h2>
                        <h2 class="subtitle is-6">{{ device.modification }}</h2>
                        <h2 class="subtitle is-6">S/N {{ device.sn }}</h2>
                        <h2 class="subtitle is-6">Дата производства {{ device.date_of_manufacture }}</h2>
                        <h2 class="subtitle is-6">Дата поверки {{ device.date_of_commissioning }}</h2>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}