{% extends 'components/layout.html' %}

{% block main %}
<a href="/objects" class="button mb-4">Назад</a>
{% if object.to_edit %}
<h3 class="ml-5 tag is-warning to_edit_mark">Помечен на редактирование! </h3>
{% else %}
<a href="/objects/{{object.id}}/to_edit" class="button mb-4 ml-3">Пометить на редактирование</a>
{% endif %}
    <div class="columns">
        <div class="column">
            <div class="box">
                <h2 class="title is-3">Объект № {{object.id}} <span class="tag is-success is-medium">Хороший клиент</span></h2>
                <p class="title is-5">Тип объекта</p>
                <h2 class="subtitle is-6 is-spaced">{{object.type_of_building}}</h2>
                <p class="title is-5">Адрес</p>
                <h2 class="subtitle is-6 is-spaced">{{object.get_full_address}}</h2>
                <p class="title is-5 ">Примечание</p>
                <form action="/objects/{{object.id}}/edit_comment" method="post">
                    {% csrf_token %}
                    <textarea class="textarea has-fixed-size" placeholder="Примечаний нет" name="comment" id="comment">{% if object.comment %}{{object.comment}}{% else %}{% endif %}</textarea>
                    <button class="button is-fullwidth mt-2 is-primary" href="/objects/">Сохранить примечание</button>
                </form>
            </div>
            <div class="box">
                <h2 class="title">Контактные лица 
                <a href="/objects/{{object.id}}/add_contact" class="button mb-4 ml-4">Добавить</a></h2>
                {% for client in object.client_set.all %}
                    <p>{{client.role}}</p>
                    <p class="title is-5 ">{{client.lastname}} {{client.firstname}} {{client.middlename}} 
                        {% if client.sex == 'man' %}
                            <span class="tag is-info">М</span>
                        {% else %}
                            <span class="tag is-danger ">Ж</span>
                        {% endif %}
                    </p>
                    <h2 class="subtitle is-3">{{client.phone_number_1}}</h2>
                    <h2 class="subtitle is-3">{{client.phone_number_2}}</h2>
                    <h2 class="subtitle is-3">{{client.phone_number_3}}</h2>
                {% endfor %}
                {% comment %} <button class="button">Добавить</button> {% endcomment %}
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title">Паспортные данные</h2>
                
                <p class="title is-5 ">Серия и номер</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.serial}} {{object.passport.number}}</h2>
                <p class="title is-5 ">Выдан</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.getted_by}}</h2>
                <p class="title is-5 ">Дата выдачи</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.getted_date}}</h2>
                <p class="title is-5 ">Код подразделения</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.division}}</h2>
                <p class="title is-5 ">Место рождения</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.birthday_place}}</h2>
                <p class="title is-5 ">Дата рождения</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.birthday_date}}</h2>
                <p class="title is-5 ">Адрес регистрации</p>
                <h2 class="subtitle is-6 is-spaced">{{object.passport.registration_adress}}</h2>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title">Договор ТО</h2>
                
                {% if object.contract_set.count > 0 %}
                    {% for contract in object.contract_set.all %}
                        <a class="title is-5 link" href="/download/contract/{{object.id}}">Договор № {{contract.contract_number}} от {{contract.date_of_contract}} {% if contract.status == 'active' %}✅{% else %}❌{% endif %}</a>
                        <p class="subtitle is-5 mb-2">Сумма {{contract.summ}}</p>
                        <!-- {% if contract.status != 'active' %}
                            <a href="/objects/{{object.id}}/contract/create" class="button mt-2">Добавить</a>
                        {% endif %} -->

                    {% endfor %}
                {% else %}
                <p>Отсутствует</p>
                {% endif %}
                <a href="/objects/{{object.id}}/contract/create" class="button mt-2">Добавить</a>

            </div>
            <div class="box">
                <h2 class="title">Акты выполненных работ</h2>
                {% if object.act_set.count > 0 %}
                    {% for act in object.act_set.all %}
                        <a class="title is-5 link" href="/download/act/{{act.pk}}">Акт № {{act.act_number}} от {{act.date_of_act}}</a>
                        <p class="subtitle is-5 mb-2">Сумма {{act.total}}</p>
                        <!-- {% if contract.status != 'active' %}
                            <a href="/objects/{{object.id}}/contract/create" class="button mt-2">Добавить</a>
                        {% endif %} -->

                    {% endfor %}
                {% else %}
                <p>Отсутствует</p>
                {% endif %}
                <a href="/objects/{{object.id}}/act/create_from_contract" class="button mt-4">Добавить</a>
            </div>
            {% comment %} <div class="box">
                <h2 class="title">Заявки</h2>
                <p>Отсутствует</p>
                <button class="button mt-4" disabled>Добавить</button>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="box">
                <h2 class="title">Оборудование</h2>
                <table class="object_devices__table">
                    <tr>
                        <th>Оборудование</th>
                        <th>В договоре</th>
                        <th>Вид</th>
                        <th>Производитель</th>
                        <th>Модель</th>
                        <th>Модификация</th>
                        <th>S/N</th>
                        <th>Дата производства</th>
                        <th>Дата поверки</th>
                    </tr>
                    {% for device in object.objectdevice_set.all %}
                    <tr class="object_devices__item">
                        <td class="title is-5">{{device.type}}</td>
                        <td class="title is-6">{{device.words_in_contract}}</td>
                        <td class="subtitle is-6">{{ device.kind }}</td>
                        <td class="subtitle is-6">{{ device.manufacter }}</td>
                        <td class="subtitle is-6">{{ device.model }}</td>
                        <td class="subtitle is-6">{{ device.modification }}</td>
                        <td class="subtitle is-6">{{ device.sn }}</td>
                        <td class="subtitle is-6">{{ device.date_of_manufacture }}</td>
                        <td class="subtitle is-6">{{ device.date_of_commissioning }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock main %}